<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@categorie.add.headline">Add Categorie</h1>
    <div>
        <a routerLink="/categories" class="btn btn-secondary" i18n="@@categorie.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="categorieName" i18n-label="@@categorie.categorieName.label" label="Categorie Name" />
    <input type="submit" i18n-value="@@categorie.add.headline" value="Add Categorie" class="btn btn-primary mt-4" />
</form>
