<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@role.add.headline">Add Role</h1>
    <div>
        <a routerLink="/roles" class="btn btn-secondary" i18n="@@role.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="roleName" rowType="select" [options]="{'CUSTOMER': 'CUSTOMER', 'SELLER': 'SELLER', 'SHIPPER': 'SHIPPER', 'ADMIN': 'ADMIN'}" i18n-label="@@role.roleName.label" label="Role Name" />
    <input type="submit" i18n-value="@@role.add.headline" value="Add Role" class="btn btn-primary mt-4" />
</form>
