<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@imageProduct.add.headline">Add Image Product</h1>
    <div>
        <a routerLink="/imageProducts" class="btn btn-secondary" i18n="@@imageProduct.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="productId" rowType="number" i18n-label="@@imageProduct.productId.label" label="Product Id" />
    <app-input-row [group]="addForm" field="image" i18n-label="@@imageProduct.image.label" label="Image" />
    <input type="submit" i18n-value="@@imageProduct.add.headline" value="Add Image Product" class="btn btn-primary mt-4" />
</form>
